---
import Header from "@components/header.astro";
import "@styles/global.module.css";
import projectStyles from "@styles/projectList.module.css";
import Ads from "@components/ads.astro";
import Footer from "@components/footer.astro";
import Meta from "@components/meta.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <Meta
      name="Akatsuki's My Summer Car mods"
      description="Akatsuki's My Summer Car mods full list"
      tag="My Summer Car mods, Water Bills, Highway Car Breakdowns, OwOifier, LGBTQ Pride Flags, Asphalt Roads, MSC Tweaks, OldCarSounds, Old Truck Sounds, Old Hayosiko, Old Kekmet, Old Ferndale, fun mods, Akatsuki, copyright: アカツキ, email: akatsuki2555@waifu.club"
    />
    <Ads />
  </head>
  <body>
    <Header />
    <main>
      <h1>Akatsuki's My Summer Car mods</h1>

      <div class={projectStyles.error}>
        <p>
          Akatsuki doesn't consider herself a My Summer Car modder and makes
          mods purely for fun.
        </p>
      </div>

      <h2>Primary mods</h2>
      <div class={projectStyles.projectContainer}>
        <a href="/project/regplatechanger">
          <div
            class={projectStyles.project}
            style="background-image: url(/project/regplatechanger/1.webp);"
          >
            <h3>Reg Plate Changer</h3>
          </div>
        </a>
        <a href="/project/waterbills">
          <div
            class={projectStyles.project}
            style="background-image: url(/project/waterbills/header.webp);"
          >
            <h3>Water Bills</h3>
          </div>
        </a>
        <a href="/project/highwaycarbreakdowns">
          <div
            class={projectStyles.project}
            style="background-image: url(/project/highwaycarbreakdowns/1.webp);"
          >
            <h3>Highway Car Breakdowns</h3>
          </div>
        </a>
        <a href="/project/owoifier">
          <div
            class={projectStyles.project}
            style="background-image: url(/project/owoifier/5408-1713711312-294742146.webp);"
          >
            <h3>OwOifier</h3>
          </div>
        </a>
        <a href="/project/msclgbtprideflags">
          <div
            class={projectStyles.project}
            style="background-image: url(/project/msclgbtprideflags/1.webp);"
          >
            <h3>LGBTQ Pride Flags</h3>
          </div>
        </a>
        <a href="/project/asphaltroads">
          <div
            class={projectStyles.project}
            style="background-image: url(/project/asphaltroads/1.webp);"
          >
            <h3>Asphalt Roads</h3>
          </div>
        </a>
        <a href="/project/msctweaks">
          <div
            class={projectStyles.project}
            style="background-image: url(/project/msctweaks/1.webp);"
          >
            <h3>MSC Tweaks</h3>
          </div>
        </a>
      </div>

      <h2>Old vehicles mods</h2>
      <div class={projectStyles.projectContainer}>
        <a href="/project/oldcarsounds">
          <div
            class={projectStyles.project}
            style="background-image: url(/project/oldcarsounds/1.webp);"
          >
            <h3>OldCarSounds</h3>
          </div>
        </a>
        <a href="/project/oldtrucksounds">
          <div
            class={projectStyles.project}
            style="background-image: url(/project/oldtrucksounds/1.webp);"
          >
            <h3>Old Truck Sounds</h3>
          </div>
        </a>
        <a href="/project/oldhayosiko">
          <div
            class={projectStyles.project}
            style="background-image: url(/project/oldhayosiko/1.webp);"
          >
            <h3>Old Hayosiko</h3>
          </div>
        </a>
        <a href="/project/oldkekmet">
          <div
            class={projectStyles.project}
            style="background-image: url(/project/oldkekmet/1.webp);"
          >
            <h3>Old Kekmet</h3>
          </div>
        </a>
        <a href="/project/oldferndale">
          <div
            class={projectStyles.project}
            style="background-image: url(/project/oldferndale/1.webp);"
          >
            <h3>Old Ferndale</h3>
          </div>
        </a>
      </div>
    </main>
    <Footer />
  </body>
</html>
