---
import Header from "@components/header.astro";
import "@styles/global.module.css";
import projectStyles from "@styles/projectList.module.css";
import Scripts from "@components/scripts.astro";
import Footer from "@components/footer.astro";
import Meta from "@components/meta.astro";
import Cursor from "@components/cursor.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <Meta name="Project List" description="List of Akatsuki's projects" />
    <Scripts />
    <Cursor />
  </head>

  <body>
    <Header />
    <main>
      <h1>Akatsuki's projects</h1>
      <p>This is a list of Akatsuki's projects.</p>
      <div class={projectStyles.projectContainer}>
        <a href="/project/velkysmpmon">
          <div class={projectStyles.project}>
            <h3>VelkySMP monitor</h3>
            <p>A monitor for velkysmp.com, a Minecraft server I play on.</p>
          </div>
        </a>
        <a href="/project/astolfoiscomingforyou">
          <div class={projectStyles.project} style="background-image: url(/project/astolfoiscomingforyou/safe_1.webp);">
            <h3>Astolfo is coming for you</h3>
            <p>Astolfo comes for you, with friendly and unfriendly variants.</p>
          </div>
        </a>
        <a href="/project/astolfos">
          <div class={projectStyles.project} style="background-image: url(/project/astolfos/neofetch.webp);">
            <h3>AstolfOS</h3>
            <p>An operating system with Astolfo.</p>
          </div>
        </a>
        <a href="/project/astolfoforge">
          <div class={projectStyles.project} style="background-image: url(/project/astolfoforge/biome.webp);">
            <h3>Astolfo Forge</h3>
            <p>A forge mod with lots of femboys and trans girls.</p>
          </div>
        </a>
        <a href="/project/astolforesourcepack">
          <div class={projectStyles.project} style="background-image: url(/project/astolforesourcepack/menu.webp);">
            <h3>Astolfo Resource Pack</h3>
            <p>A resource pack for Minecraft with Astolfo.</p>
          </div>
        </a>
        <a href="/project/akabot">
          <div class={projectStyles.project} style="background-image: url(/project/akabot/Discord_70tNHM1QLB.png);">
            <h3>Akabot</h3>
            <p>A Discord bot with lots of features.</p>
          </div>
        </a>
        <a href="/project/catgirlnonsense">
          <div class={projectStyles.project} style="background-image: url(/project/catgirlnonsense/chrome_oBHNCyfNts.png);">
            <h3>Catgirl Nonsense</h3>
            <p>Catgirl nonsense generator.</p>
          </div>
        </a>
        <a href="/project/neko/search">
          <div class={projectStyles.project} style="background-image: url(/neko/search/1.jpg);">
            <h3>Akatsuki2555 Nekosearch</h3>
            <p>A instant, private and independently indexed search for Nekoweb, including content.</p>
          </div>
        </a>
        <a href="/project/neko/random">
          <div class={projectStyles.project} style="background-image: url(/neko/random/1.jpg);">
            <h3>Random Nekoweb Site Jump</h3>
            <p>Jump to a random website on Nekoweb. Uses my Nekoweb indexes to do so.</p>
          </div>
        </a>
      </div>
      <h2>My Summer Car mods</h2>
      <div class={projectStyles.projectContainer}>
        <a href="/project/regplatechanger">
          <div class={projectStyles.project} style="background-image: url(/project/regplatechanger/1.webp);">
            <h3>Reg Plate Changer</h3>
            <p>Changes reg plates on your cars.</p>
          </div>
        </a>
        <a href="/project/waterbills">
          <div class={projectStyles.project} style="background-image: url(/project/waterbills/header.webp);">
            <h3>Water Bills</h3>
            <p>Adds water bills alongside electricity bills and phone bills.</p>
          </div>
        </a>
        <a href="/project/highwaycarbreakdowns">
          <div class={projectStyles.project} style="background-image: url(/project/highwaycarbreakdowns/1.webp);">
            <h3>Highway Car Breakdowns</h3>
            <p>Adds highway car breakdowns and a new way to earn money.</p>
          </div>
        </a>
        <a href="/project/owoifier">
          <div class={projectStyles.project} style="background-image: url(/project/owoifier/5408-1713711312-294742146.webp);">
            <h3>OwOifier</h3>
            <p>UwU text everywhere, including the mod loader and all mods.</p>
          </div>
        </a>
        <a href="/project/msclgbtprideflags">
          <div class={projectStyles.project} style="background-image: url(/project/msclgbtprideflags/1.webp);">
            <h3>LGBTQ Pride Flags</h3>
            <p>Adds pride flags to show off.</p>
          </div>
        </a>
        <a href="/project/asphaltroads">
          <div class={projectStyles.project} style="background-image: url(/project/asphaltroads/1.webp);">
            <h3>Asphalt Roads</h3>
            <p>Replaces dirt roads with Asphalt roads.</p>
          </div>
        </a>
        <a href="/project/msctweaks">
          <div class={projectStyles.project} style="background-image: url(/project/msctweaks/1.webp);">
            <h3>MSC Tweaks</h3>
            <p>Tweaks for My Summer Car.</p>
          </div>
        </a>
        <a href="/project/pridemod">
          <div class={projectStyles.project} style="background-image: url(/project/pridemod/1.webp);">
            <h3>Pride Month Mod</h3>
            <p>Adds pride into My Summer Car.</p>
          </div>
        </a>
      </div>
    </main>
    <Footer />
  </body>
</html>
