---
import "@styles/global.module.css";
import Header from "@components/header.astro";
import Scripts from "@components/scripts.astro";
import Footer from "@components/footer.astro";
import Meta from "@components/meta.astro";
import socialStyles from "@styles/socialList.module.css";
import Cursor from "@components/cursor.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <Meta
      name="Socials"
      description="All of Akatsuki2555's social accounts, whether they're social or not."
      
    />
    <Scripts />
    <Cursor />
  </head>

  <body>
    <Header />
    <main>
      <h1>Akatsuki's socials</h1>
      <p>This is a list of Akatsuki's social accounts.</p>
      <div class={socialStyles.socialContainer}>
        <a href="/discord">
          <div
            class={socialStyles.social}
            style="background-image: url('/discord/Banner.webp');"
          >
            <h3>Discord</h3>
          </div>
        </a>
        <a href="https://www.youtube.com/channel/UC7JMha1kjOS7gsJXwNtosNw">
          <div
            class={socialStyles.social}
            style="background-image: url('/social/youtube.jpg');"
          >
            <h3>YouTube</h3>
          </div>
        </a>
        <a href="https://www.github.com/Akatsuki2555">
          <div
            class={socialStyles.social}
            style="background-image: url('/social/github.jpg');"
          >
            <h3>GitHub</h3>
          </div>
        </a>
        <a href="https://www.twitch.tv/akatsuki2555">
          <div
            class={socialStyles.social}
            style="background-image: url('/social/twitch.jpg');"
          >
            <h3>Twitch</h3>
          </div>
        </a>
        <a href="https://mastodon.catgirl.cloud/@Akatsuki">
          <div
            class={socialStyles.social}
            style="background-image: url('/social/mastodon.jpg');"
          >
            <h3>Mastodon</h3>
          </div>
        </a>
        <a href="https://www.reddit.com/u/Akatsuki_2555">
          <div
            class={socialStyles.social}
            style="background-image: url('/social/reddit.jpg');"
          >
            <h3>Reddit</h3>
          </div>
        </a>
        <a href="https://www.instagram.com/akatsuk1.1">
          <div
            class={socialStyles.social}
            style="background-image: url('/social/instagram.jpg');"
          >
            <h3>Instagram</h3>
          </div>
        </a>
        <a href="https://x.com/@Akatsuki2555">
          <div
            class={socialStyles.social}
            style="background-image: url('/social/x.jpg');"
          >
            <h3>X</h3>
          </div>
        </a>
        <a href="https://next.nexusmods.com/profile/Akatsuki2555/about-me">
          <div
            class={socialStyles.social}
            style="background-image: url('/social/nexusmods.jpg');"
          >
            <h3>NexusMods</h3>
          </div>
        </a>
        <a href="https://codeberg.org/Akatsuki">
          <div
            class={socialStyles.social}
            style="background-image: url('/social/codeberg.jpg');"
          >
            <h3>Codeberg</h3>
          </div>
        </a>
      </div>
    </main>
    <Footer />
  </body>
</html>
