---
import "@styles/global.module.css";
import Header from "@components/header.astro";
import Scripts from "@components/scripts.astro";
import Footer from "@components/footer.astro";
import Meta from "@components/meta.astro";
import socialStyles from "@styles/socialList.module.css";
import Cursor from "@components/cursor.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <Meta
      name="Socials"
      description="List of Akatsuki's social accounts"
      tag="my summer car,my summer car mods,socials,social"
    />
    <Scripts />
    <Cursor />

    <style>
      div {
        display: flex;
        flex-wrap: wrap;
      }

      a {
        text-decoration: none;
        margin: 2px;
      }
    </style>
  </head>

  <body>
    <Header />
    <main>
      <h1>Akatsuki's socials</h1>
      <p>This is a list of Akatsuki's social accounts.</p>
      <div class={socialStyles.projectContainer}>
        {Object.entries({
          discord: "https://discord.com/invite/456zRGz75j",
          youtube: "https://www.youtube.com/channel/UCbxX6X30K54_bxZK3t7e8ZA",
          tiktok: "https://www.tiktok.com/@akatsuki2555",
          twitch: "https://www.twitch.tv/akatsuki2555",
          twitter: "https://twitter.com/akatsuki2555",
          reddit: "https://www.reddit.com/user/Akatsuki230",
          instagram: "https://www.instagram.com/akatsuki.230",
          nexusmods: "https://www.nexusmods.com/users/11530875",
        }).map(([name, url], i) => (
          <a href={url}>
            <div
              class={socialStyles.project}
              style={`background-image: url(/misc/socials/${name}.webp)`}
            >
              <h3>{name}</h3>
            </div>
          </a>
        ))}
      </div>
    </main>

    <Footer />
  </body>
</html>
