---
import CursorSetting from "./cursorSetting.astro";
import webdata from "webdata.json";

const currentYear = new Date().getFullYear();

const allPages = await Astro.glob("../pages/**/*.astro");

const builtDate = new Date();
const month =
    builtDate.getUTCMonth().toString().length == 1
        ? "0" + (builtDate.getUTCMonth() + 1)
        : builtDate.getUTCMonth() + 1;
const day =
    builtDate.getUTCDate().toString().length == 1
        ? "0" + builtDate.getUTCDate()
        : builtDate.getUTCDate();
        
const builtString = `Built: ${builtDate.getUTCFullYear()}/${month}/${day} ${builtDate.getUTCHours()}:${builtDate.getUTCMinutes()}`;
---

<footer>
    <style>
        #footerLinks {
            display: flex;
            flex-direction: row;
        }

        #footerLinks p {
            margin-right: 1em;
        }
    </style>
    <p>Copyright ©️ {currentYear} アカツキ</p>
    <div id="footerLinks">
        <p><a href="mailto:akatsuki2555@waifu.club">E-mail me</a></p>
        <p><a href="/suggestion">Suggestions</a></p>
        <p><a href="/discord">Discord</a></p>
        <p id="footerPageVisits">loading views...</p>
        <p><a href="/sitemap">{allPages.length} pages here</a></p>
        <p>{builtString}</p>
    </div>
    <CursorSetting />
    {
        import.meta.env.DEV ? (
            <script is:inline type="text/javascript">
                $("#footerPageVisits").text("dev mode");
            </script>
        ) : (
            <script is:inline type="text/javascript">
                $.get("https://nekoweb.org/api/site/info/akatsuki", function(data){
                    $("#footerPageVisits").text(
                        data["views"] + " views",
                    )
                });
            </script>
        )
    }
</footer>
