---
import CursorSetting from "./cursorSetting.astro";
import webdata from "webdata.json";

const currentYear = new Date().getFullYear();

const allPages = await Astro.glob("../pages/**/*.astro");

const builtDate = new Date();
const month =
    builtDate.getUTCMonth().toString().length == 1
        ? "0" + (builtDate.getUTCMonth() + 1)
        : builtDate.getUTCMonth() + 1;
const day =
    builtDate.getUTCDate().toString().length == 1
        ? "0" + builtDate.getUTCDate()
        : builtDate.getUTCDate();
        
const builtString = `Last updated ${builtDate.getUTCFullYear()}/${month}/${day} ${builtDate.getUTCHours()}:${builtDate.getUTCMinutes()}:${builtDate.getUTCSeconds()} and at this time this site had ${webdata["views"]} visits!`;
---

<footer>
    <p>Copyright ©️ {currentYear} アカツキ</p>
    <iframe src="https://nekoweb.org/frame/follow" frameborder="0" width="170" height="28"></iframe>
    <p>
        <a href="https://akatsuki.nekoweb.org/">
            <img src="/button.gif" alt="Akatsuki's button" style="width: 88px; height: 31px;">
        </a>
        Use my button :3 (idk how to make a better one 3:)
    </p>
    <p>
        You can e-mail her at <a href="mailto:akatsuki2555@waifu.club"
            >akatsuki2555@waifu.club</a
        >
    </p>
    <p>
        <a href="/sitemap"
            >This website has {allPages.length} pages! Click on this link for sitemap
            :3</a
        >
    </p>
    <p>{builtString}</p>
    <p id="footer-page-visits">Loading current information...</p>
    <CursorSetting />
    {
        import.meta.env.DEV ? (
            <script is:inline type="text/javascript">
                console.log("is dev");
                $("#footer-page-visits").text("In Dev mode");
            </script>
        ) : (
            <script is:inline type="text/javascript">
                console.log("is built");
                $.get("https://nekoweb.org/api/site/info/akatsuki", function(data){
                    $("#footer-page-visits").text(
                        "The website currently has " + data["views"] + " visits",
                    )
                });
            </script>
        )
    }
</footer>
