---
interface Props {
    name: string;
    description: string;
    tag?: string;
}

let { name, description, tag } = Astro.props;
name = name.replace(/[aA]katsuki/g, "アカツキ");
description = description.replace(/[aA]katsuki/g, "アカツキ");
const author = "アカツキ";

if (tag) {
    tag = tag + ",";
} else {
    tag = "";
}
---

<title>{name} | Akatsuki's website</title>
<meta name="description" content={description} />
<meta name="author" content={author} />
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<meta property="og:title" content={`${name} | Akatsuki's website`} />
<meta property="og:description" content={description} />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://akatsuki.nekoweb.org" />
<meta property="og:site_name" content="Akatsuki's website" />
<meta property="og:locale" content="en_US" />
<meta property="og:locale:alternate" content="ja_JP" />
<meta name="twitter:title" content={`${name} | Akatsuki's website`} />
<meta name="twitter:description" content={description} />

<meta
    name="keywords"
    content={`${tag}akatsuki,akatsuki,web development,programming,akatsuki,portfolio,portfolio site,web development,portfolio,portfolio site,web development portfolio,programming portfolio,web development,programming,portfolio,portfolio site,web development,portfolio,portfolio site,web development portfolio,programming portfolio,web development,programming,portfolio,portfolio site,web development,portfolio,portfolio site,web development portfolio,programming portfolio,web development,programming`}
/>
